{% block werkl_cms_element_blog_single_select_config %}
    <div class="sw-cms-el-config-blog-single-select">
        <sw-entity-single-select
            :placeholder="$t('werkl-blog.elements.single-select.selectFieldLabel')"
            :label="$t('werkl-blog.elements.single-select.selectFieldLabel')"
            entity="werkl_blog_entries"
            v-model:value="element.config.blogEntry.value"
        >
            <template #selection-label-property="slotProps">
                {{ slotProps.item.translated.title || slotProps.item.name }}
            </template>

            <template #result-label-property="slotProps">
                {{ slotProps.item.translated.title || slotProps.item.name }}
            </template>

        </sw-entity-single-select>
    </div>
{% endblock %}
